.Homepage h1 {
  font-size: 48px;
}
.Homepage p {
  font-size: 16px;
  line-height: 1.6rem;
  padding: 0 100px;
}
.homepage-hero {
  height: fit-content;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/photos/hero-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px;
}

#homepage-button {
  font-family: var(--secondary-font);
  margin: 20px auto;
  padding: 8px 25px;
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}
#homepage-button:hover {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  opacity: 0.9;
}
