:root {
  --primary-font: "Poppins", sans-serif;
  body {
    --secondary-font: "Gloria Hallelujah", cursive;
    --color-blue: #77bef0;
    --color-yellow: #ffcb61;
    --color-orange: #ff894f;
    --color-red: #ea5b6f;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
